
@keyframes move {
    100% {
        transform: translate3d(0, 0, 1px) rotate(360deg);
    }
  }
  
  .background {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background: #000000;
    overflow: hidden;
    z-index: -1; /* Place the animation in the background to not interfere with the other elements */
  }
  
  .background span {
    width: 1vmin;
    height: 1vmin;
    border-radius: 1vmin;
    backface-visibility: hidden;
    position: absolute;
    animation: move;
    animation-duration: 20;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    z-index: -1; /* Place the animation in the background to not interfere with the other elements */
  }
  
  .background span:nth-child(0) {
    color: #0055ff;
    top: 41%;
    left: 29%;
    animation-duration: 184s;
    animation-delay: -113s;
    transform-origin: -11vw 1vh;
    box-shadow: 2vmin 0 0.7097563394510698vmin currentColor;
  }
  .background span:nth-child(1) {
    color: #2b6cee;
    top: 42%;
    left: 90%;
    animation-duration: 277s;
    animation-delay: -239s;
    transform-origin: 5vw -11vh;
    box-shadow: -2vmin 0 1.1193630754063264vmin currentColor;
  }
  .background span:nth-child(2) {
    color: #2b6cee;
    top: 61%;
    left: 43%;
    animation-duration: 107s;
    animation-delay: -24s;
    transform-origin: 2vw -1vh;
    box-shadow: 2vmin 0 0.8359466090242418vmin currentColor;
  }
  .background span:nth-child(3) {
    color: #0055ff;
    top: 17%;
    left: 89%;
    animation-duration: 234s;
    animation-delay: -160s;
    transform-origin: 19vw 24vh;
    box-shadow: -2vmin 0 0.4499384271344873vmin currentColor;
  }
  .background span:nth-child(4) {
    color: #fafafa;
    top: 43%;
    left: 83%;
    animation-duration: 101s;
    animation-delay: -130s;
    transform-origin: 10vw 24vh;
    box-shadow: -2vmin 0 0.9337100946820784vmin currentColor;
  }
  .background span:nth-child(5) {
    color: #0055ff;
    top: 19%;
    left: 36%;
    animation-duration: 81s;
    animation-delay: -274s;
    transform-origin: 13vw -5vh;
    box-shadow: 2vmin 0 1.082200892024598vmin currentColor;
  }
  .background span:nth-child(6) {
    color: #0055ff;
    top: 30%;
    left: 77%;
    animation-duration: 206s;
    animation-delay: -227s;
    transform-origin: 23vw 13vh;
    box-shadow: -2vmin 0 0.8142084649164447vmin currentColor;
  }
  .background span:nth-child(7) {
    color: #fafafa;
    top: 43%;
    left: 58%;
    animation-duration: 204s;
    animation-delay: -137s;
    transform-origin: 12vw 0vh;
    box-shadow: -2vmin 0 0.6397596168545829vmin currentColor;
  }
  .background span:nth-child(8) {
    color: #fafafa;
    top: 38%;
    left: 94%;
    animation-duration: 261s;
    animation-delay: -267s;
    transform-origin: -14vw -11vh;
    box-shadow: -2vmin 0 0.6189949825744223vmin currentColor;
  }
  .background span:nth-child(9) {
    color: #fafafa;
    top: 54%;
    left: 67%;
    animation-duration: 241s;
    animation-delay: -86s;
    transform-origin: 24vw 14vh;
    box-shadow: 2vmin 0 0.7345307242636285vmin currentColor;
  }
  .background span:nth-child(10) {
    color: #fafafa;
    top: 31%;
    left: 17%;
    animation-duration: 116s;
    animation-delay: -57s;
    transform-origin: -21vw 13vh;
    box-shadow: -2vmin 0 0.9674762616664332vmin currentColor;
  }
  .background span:nth-child(11) {
    color: #fafafa;
    top: 55%;
    left: 90%;
    animation-duration: 171s;
    animation-delay: -197s;
    transform-origin: 5vw -1vh;
    box-shadow: 2vmin 0 0.376290058881952vmin currentColor;
  }
  .background span:nth-child(12) {
    color: #0055ff;
    top: 4%;
    left: 96%;
    animation-duration: 44s;
    animation-delay: -65s;
    transform-origin: -20vw 3vh;
    box-shadow: 2vmin 0 0.6554650014429007vmin currentColor;
  }
  .background span:nth-child(13) {
    color: #fafafa;
    top: 9%;
    left: 71%;
    animation-duration: 262s;
    animation-delay: -210s;
    transform-origin: 8vw -14vh;
    box-shadow: 2vmin 0 0.9592638216600224vmin currentColor;
  }
  .background span:nth-child(14) {
    color: #2b6cee;
    top: 85%;
    left: 88%;
    animation-duration: 294s;
    animation-delay: -217s;
    transform-origin: 16vw -18vh;
    box-shadow: 2vmin 0 0.3497805352089596vmin currentColor;
  }
  .background span:nth-child(15) {
    color: #0055ff;
    top: 27%;
    left: 57%;
    animation-duration: 125s;
    animation-delay: -284s;
    transform-origin: 14vw -15vh;
    box-shadow: 2vmin 0 1.209365309960354vmin currentColor;
  }
  .background span:nth-child(16) {
    color: #0055ff;
    top: 5%;
    left: 77%;
    animation-duration: 87s;
    animation-delay: -264s;
    transform-origin: 13vw 16vh;
    box-shadow: -2vmin 0 0.7521042731112895vmin currentColor;
  }
  .background span:nth-child(17) {
    color: #0055ff;
    top: 8%;
    left: 55%;
    animation-duration: 222s;
    animation-delay: -195s;
    transform-origin: 23vw -14vh;
    box-shadow: 2vmin 0 0.6162892103528752vmin currentColor;
  }
  .background span:nth-child(18) {
    color: #0055ff;
    top: 50%;
    left: 14%;
    animation-duration: 305s;
    animation-delay: -191s;
    transform-origin: 7vw -11vh;
    box-shadow: 2vmin 0 0.9661961102754322vmin currentColor;
  }
  .background span:nth-child(19) {
    color: #2b6cee;
    top: 1%;
    left: 36%;
    animation-duration: 247s;
    animation-delay: -274s;
    transform-origin: 9vw 14vh;
    box-shadow: 2vmin 0 0.3124681003188734vmin currentColor;
  }
  .background span:nth-child(20) {
    color: #fafafa;
    top: 82%;
    left: 15%;
    animation-duration: 233s;
    animation-delay: -46s;
    transform-origin: 11vw -7vh;
    box-shadow: 2vmin 0 0.5115415664201604vmin currentColor;
  }
  .background span:nth-child(21) {
    color: #2b6cee;
    top: 68%;
    left: 91%;
    animation-duration: 168s;
    animation-delay: -120s;
    transform-origin: -5vw -3vh;
    box-shadow: 2vmin 0 0.30125202097958326vmin currentColor;
  }
  .background span:nth-child(22) {
    color: #2b6cee;
    top: 54%;
    left: 84%;
    animation-duration: 247s;
    animation-delay: -109s;
    transform-origin: -6vw -17vh;
    box-shadow: 2vmin 0 0.6025063017458472vmin currentColor;
  }
  .background span:nth-child(23) {
    color: #0055ff;
    top: 16%;
    left: 68%;
    animation-duration: 24s;
    animation-delay: -34s;
    transform-origin: 17vw 21vh;
    box-shadow: -2vmin 0 0.44621682677536767vmin currentColor;
  }
  .background span:nth-child(24) {
    color: #fafafa;
    top: 73%;
    left: 78%;
    animation-duration: 23s;
    animation-delay: -71s;
    transform-origin: 21vw -5vh;
    box-shadow: -2vmin 0 0.41523667259852814vmin currentColor;
  }
  .background span:nth-child(25) {
    color: #fafafa;
    top: 66%;
    left: 64%;
    animation-duration: 119s;
    animation-delay: -178s;
    transform-origin: -16vw 3vh;
    box-shadow: 2vmin 0 1.178368007747837vmin currentColor;
  }
  .background span:nth-child(26) {
    color: #0055ff;
    top: 82%;
    left: 97%;
    animation-duration: 13s;
    animation-delay: -100s;
    transform-origin: 3vw 16vh;
    box-shadow: -2vmin 0 0.5215100177569443vmin currentColor;
  }
  .background span:nth-child(27) {
    color: #fafafa;
    top: 74%;
    left: 96%;
    animation-duration: 240s;
    animation-delay: -144s;
    transform-origin: 12vw 13vh;
    box-shadow: 2vmin 0 1.0675458505360713vmin currentColor;
  }
  .background span:nth-child(28) {
    color: #0055ff;
    top: 86%;
    left: 76%;
    animation-duration: 87s;
    animation-delay: -186s;
    transform-origin: -23vw -7vh;
    box-shadow: -2vmin 0 0.5053250935996163vmin currentColor;
  }
  .background span:nth-child(29) {
    color: #2b6cee;
    top: 98%;
    left: 55%;
    animation-duration: 110s;
    animation-delay: -266s;
    transform-origin: -4vw -8vh;
    box-shadow: -2vmin 0 0.6795908644313333vmin currentColor;
  }
  .background span:nth-child(30) {
    color: #0055ff;
    top: 68%;
    left: 53%;
    animation-duration: 41s;
    animation-delay: -92s;
    transform-origin: 2vw -1vh;
    box-shadow: -2vmin 0 0.7643040956022296vmin currentColor;
  }
  .background span:nth-child(31) {
    color: #0055ff;
    top: 5%;
    left: 1%;
    animation-duration: 7s;
    animation-delay: -78s;
    transform-origin: -13vw 21vh;
    box-shadow: -2vmin 0 0.46766542378613574vmin currentColor;
  }
  .background span:nth-child(32) {
    color: #fafafa;
    top: 52%;
    left: 41%;
    animation-duration: 282s;
    animation-delay: -281s;
    transform-origin: 19vw -24vh;
    box-shadow: 2vmin 0 0.5245724489560186vmin currentColor;
  }
  .background span:nth-child(33) {
    color: #0055ff;
    top: 56%;
    left: 40%;
    animation-duration: 208s;
    animation-delay: -299s;
    transform-origin: -19vw -11vh;
    box-shadow: -2vmin 0 0.27735344734763956vmin currentColor;
  }
  .background span:nth-child(34) {
    color: #2b6cee;
    top: 13%;
    left: 70%;
    animation-duration: 103s;
    animation-delay: -5s;
    transform-origin: -14vw 4vh;
    box-shadow: 2vmin 0 1.0146593309691543vmin currentColor;
  }
  .background span:nth-child(35) {
    color: #2b6cee;
    top: 37%;
    left: 96%;
    animation-duration: 295s;
    animation-delay: -40s;
    transform-origin: 21vw 24vh;
    box-shadow: 2vmin 0 1.1442321498943928vmin currentColor;
  }
  .background span:nth-child(36) {
    color: #2b6cee;
    top: 91%;
    left: 99%;
    animation-duration: 171s;
    animation-delay: -254s;
    transform-origin: -23vw 25vh;
    box-shadow: -2vmin 0 0.7913113228658393vmin currentColor;
  }
  .background span:nth-child(37) {
    color: #fafafa;
    top: 16%;
    left: 47%;
    animation-duration: 46s;
    animation-delay: -150s;
    transform-origin: 12vw 10vh;
    box-shadow: -2vmin 0 0.7260865469437501vmin currentColor;
  }
  .background span:nth-child(38) {
    color: #0055ff;
    top: 28%;
    left: 71%;
    animation-duration: 171s;
    animation-delay: -36s;
    transform-origin: 8vw -14vh;
    box-shadow: 2vmin 0 0.7385362296722666vmin currentColor;
  }
  .background span:nth-child(39) {
    color: #2b6cee;
    top: 50%;
    left: 27%;
    animation-duration: 223s;
    animation-delay: -229s;
    transform-origin: -24vw -24vh;
    box-shadow: 2vmin 0 0.9991588267955418vmin currentColor;
  }
  .background span:nth-child(40) {
    color: #2b6cee;
    top: 79%;
    left: 39%;
    animation-duration: 161s;
    animation-delay: -249s;
    transform-origin: -23vw 6vh;
    box-shadow: 2vmin 0 0.3911668936502266vmin currentColor;
  }
  .background span:nth-child(41) {
    color: #0055ff;
    top: 92%;
    left: 22%;
    animation-duration: 204s;
    animation-delay: -225s;
    transform-origin: -20vw -3vh;
    box-shadow: 2vmin 0 1.1285923256186021vmin currentColor;
  }
  .background span:nth-child(42) {
    color: #0055ff;
    top: 59%;
    left: 20%;
    animation-duration: 120s;
    animation-delay: -178s;
    transform-origin: -11vw 6vh;
    box-shadow: 2vmin 0 0.44672297504580993vmin currentColor;
  }
  .background span:nth-child(43) {
    color: #2b6cee;
    top: 26%;
    left: 5%;
    animation-duration: 134s;
    animation-delay: -145s;
    transform-origin: -5vw -13vh;
    box-shadow: 2vmin 0 0.8993383639076526vmin currentColor;
  }
  .background span:nth-child(44) {
    color: #2b6cee;
    top: 16%;
    left: 58%;
    animation-duration: 52s;
    animation-delay: -213s;
    transform-origin: 18vw 21vh;
    box-shadow: 2vmin 0 0.7208334526985227vmin currentColor;
  }
  