
body {
    color: white;
    font-family: 'Rajdhani', sans-serif;
}


header {
    font-size: 300%;
    margin: 2% 0% 0% 0%;    
    display: flex;
    justify-content: center;
    align-items: center;
}
#header-twelvedata {
    width: 40%;
}
#header-react {
    width: 10%;
}


#search {
    display: flex;
    justify-content: center;
    align-items: center;
}


#chart {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2%;
    margin: auto;
}


@media only screen and (max-width: 530px) {
    #chart {
        width: 400px;
        height: 400px;
        margin-top: 1%;
    }
}

@media only screen and (min-width: 530px) {
    #chart {
        width: 500px;
        height: 500px;
    }
}

@media only screen and (min-width: 650px) {
    #chart {
        width: 600px;
        height: 600px;
    }
}

@media only screen and (min-width: 700px) {
    #chart {
        width: 650px;
        height: 650px;
    }
}

@media only screen and (min-width: 900px) {
    #chart {
        width: 800px;
        height: 800px;
    }
}

@media only screen and (min-width: 1000px) {
    #chart {
        width: 900px;
        height: 900px;
    }
}

@media only screen and (min-width: 1200px) {
    #chart {
        width: 1000px;
        height: 1000px;
    }
}

@media only screen and (min-width: 1300px) {
    #chart {
        width: 1100px;
        height: 1100px;
    }
}